<!DOCTYPE html>
<html>
<head>
    <title>sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/main/style1.css">
</head>
<body> 
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="circle"></div>
                <header class="myHed text-center">
                    <i class="far fa-user"></i>
                    <p>SIGN UP</p>
                </header>
                <form class="main-form text-center" id = 'form1'>
                    <div class="form-group my-0">
                        <label class="my-0">
                            <i class="fas fa-user"></i>
                            <input type="text" id = 'usrnm' class="myInput" placeholder="Username" required> 
                        </label>
                    </div>
                    <div class="form-group my-0">
                        <label class="my-0">
                            <i class="fas fa-envelope"></i>
                            <input type="email" id = 'email' class="myInput" placeholder="Email" required>
                        </label>
                        
                      </div>
                    <div class="form-group my-0">
                        <label class="my-0">
                            <i class="fas fa-lock"></i>
                            <input type="password"  id = 'pass' class="myInput" placeholder="Password" required> 
                        </label>
                    </div>
                    <div class="form-group">
                        <label> 
                            <input type="submit" id = 'sub' class="form-control button" value="SIGN UP"> 
                        </label>
                    </div>
                    <div class="check_1"><a href="login">Already a Member ?</a></div> 
                </form>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script type="text/javascript">
    
    document.getElementById('sub').addEventListener('click',submitHandler);

    function submitHandler(e){

        document.getElementById('form1').checkValidity();
        document.getElementById('form1').reportValidity();

        e.preventDefault();
        let usrnm = document.getElementById('usrnm').value;
        let pass = document.getElementById('pass').value;
        let email = document.getElementById('email').value;
        let url = '';
        //console.log(usrnm,pass,email) /// comment it

        fetch(url,{


            method:'POST',
            headers: {
            Accept: "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                'username': usrnm,
                'password': pass,
                'email':email
            })



        }).then((resp) => resp.json())
        .then(function(data){

            /// process data
            let status = data['status']
            handle_status(status)

        })
        .catch(function(error) {
          //console.log(error);
        });

    }

    function handle_status(code){

        if(code == "OK")
        {
            alert('Regsitered Sucessfully')
            window.location.href = '../login'
        }
        else
        {
            alert('Username or email already exists')
        }
    }





</script>
</html>
